body{
  font-family: 'Lato', sans-serif;
}
img{
  max-width: 100%;
}
a, .azul{
  color: #009FFF;
}
.quitar-float{
  float: none;
}
.espacio-arriba{
  margin-top: 100px;
}
.pacifico{
  font-family: 'Pacifico', cursive;
}
.grande{
  font-size: 4em;
}
.verde{
  color: #00887C;
}
.espacio-derecha{
  margin-right: 1em;
}
.no-lista li{
  list-style-type: none;
}
.no-lista{
  padding: 0px;
  margin: 0px;
}
.se-gris{
  background-color: #eee;
}
.padding-largo{
  padding: 5px 10px;
}
.inline-block{
  float: none;
  display: inline-block;
  margin-right: -4px;
}
.vete-arriba{
  vertical-align: top;
}
.mediano{
  font-size: 1.5em;
}
.retraso-1{
  animation-delay: 1s;
}
.retraso-2{
  animation-delay: 2s;
}
